@import './orderAccountResults.css';

.tituloPesquisa{
    align-self: center;
    width: 80%;
    color: #666666 !important;
    font-size: 16px !important;
    font-weight: bold;
    margin: 35px 0px 10px 0;
  }
  
  .tituloPesquisa b{
    color: #000;
  }

  .footer-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-pagination > div{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 25px;
    margin: 5px;
    color: #2a9676;
    font-weight: bold;
    background-color: #ccffe6;
    border-radius: 5px;
  }

  .selectedIndex{
    color: white !important;
    background-color: #2a9676 !important;
  }

  @media screen and (max-width: 500px) {
    .tituloPesquisa{
      width: 90%;
    }
}  