.cabecalho{
    width: 100%;
    bottom: 90px;
    border: #DDD solid 1px;
    border-radius: 5px;
    background-color: #FFF;
    margin: 10px 0 20px 0;
    display: flex; 
    padding: 1em;
    flex-direction: column;
    gap: 5px;
    
}

.titulo_agrogalaxy{
    font-weight: bold;
    font-size: 16pt;
}

section{
   display: flex;
   flex-direction: column;
   gap: 1em;
}

section > div{
    display: flex;
    justify-content: space-between;
}

section > div > section{
    display: flex;
    flex-direction: row;
    gap: 1em;
    color: #57595c;
    
}

section > div > section > span:nth-child(even) {
    color: black;
    font-weight: bold;
} 

lightning-datatable{
    padding-top: 30px;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}