hr{
    border: 1px dashed #c4c4c4;
    margin: 25px 0;
}

.repeater h4{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.repeater{
    background-color: #E7E7E7;
    border-radius: 4px;
    padding: 10px;
}