/* Estilos globais */
@page { 
    margin: 0;
    padding: 0;
} 

@font-face {
    font-family: "FontPoppins";
    src: url("{!URLFOR($Resource.FontPoppins, '/Poppins-Regular.ttf')}") format("ttf");
    font-weight: 300;
}

.page-header img {
    width: 100%;
}

body{
    margin: 0;
    font-family: FontPoppins;
}

table {
    width: 100%;
}
.divider-top { 
    margin-top: 40px;               
    border-top: 1px solid #dadada;
}

.highlight {
    display: inline-block;
    padding: 4px;
    background-color: #dadada;
    font-size: 14px;
}

.divider-bottom {
    border-bottom: 1px solid #dadada;
}

.main-table{
    padding: 0 50px;
}
.main-table td{
    padding: 8px 16px;
}

.main-table .title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #444;
}  

.field-item {
    color: #444;
    font-size: 10px;
}

.bolder {
    font-size: 11px;
    font-weight: bold;
    color: #000000;
}

.padd-b {
    padding-bottom: 32px !important;
}

.tb-item-ped {
    width: 100%;
    margin-top: 8px;
}

.tb-item-ped td,
.tb-comp-valores-imp td,
.tb-comp-valores-total td {
    font-size: 10px !important;
    padding: 4px 8px;
    text-align: left;
}

.tb-item-ped .header td,
.tb-comp-valores-imp .header td,
.tb-comp-valores-total .header td {
    padding: 4px 8px;
    font-size: 9px !important;
    font-weight: bold;
    text-transform: uppercase;                
    background-color: #dadada;
    border-left: 1px solid #FFF;
    text-align: left;
}

.container-text-area {
    padding: 0px 40px;
}

.container-obs-header {
    width: 100%;
    margin: 0px;                
    padding: 4px 8px;
    
    background-color: #dadada;
    font-size: 8px;
    border: 1px solid #dadada;
}

.container-obs-value {
    width: 100%;
    margin-bottom: 8px;
    padding: 4px 8px;
    font-size: 8px;
    border: 1px solid #dadada;
}















.appointments{
    border: 1px solid black;
    font-size: 9pt;
    padding: 3px;
    margin-bottom: 5px;
}

.assign{
    position: relative;
    margin-top: 10px;
    height: 60px;
    border: 1px solid black;
}

.sales{
    position: absolute;
    left: 30px;
    top: 20px;
    padding: 5px;

}
.assigning{
    width:300px;
    text-align: center;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    
}
.line{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    width: 300px;
    
}

.buy{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px;
}



