/* Estilos globais */
table {
    margin-top: 10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    border: 1px solid #000;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
}

th{
    text-align: center;
}
/* ----------------------------------------------- */

/* Estilos para parte 1 */
.information_logo{
    width: 200px;
    text-align: center;
}

.information_org{
    width: 400px;
}
.information_org > div{
    padding-bottom: 4px;
    padding-left: 5px;
}
.information_monetary{
    text-align: center;
    width: 250px;
}
.information_monetary > div:first-child{
    padding-bottom: 15px;
    text-transform: uppercase;
    color: red;
    font-size: 10pt;
}

.information_monetary > div{
    padding-bottom: 5px;
}
/* ------------------------------ */


/* Estilos para parte 2 */
.information_order > tr > td{
    padding: 5px;
}
/* -------------------- */


/* Estilos para parte 3 */
.information_order_item_header{
    background-color: green;
    color: white;
}

.information_order_item{
    text-align: center;
}

.information_order_item > tr > td {
    padding: 5px;
}
/* ---------------------- */

body{
    position: relative;
    height: 900px;

}

.total_amount > tbody{
    text-align: right;
}

.total_amount > tbody > tr :first-child{
    border-top: none;
    border-left: none;
    border-bottom: none;
    font-weight: bold;
}

.footer{
    width: 98%;
    position:absolute;
    border: solid 1px black;
    bottom: 0;
}
